# SideNote Backend — Environment Variables
# Copy this file to .env and fill in your values.
# Never commit the real .env file.

GEMINI_API_KEY=AQ.Ab8RN6KQEn59XPzUlORTSKrB8ZTej5ig7us2aYkTsjGGnahXKw
GEMINI_MODEL=gemini-3.6-flash

GROQ_API_KEY=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
GROQ_MODEL=openai/gpt-oss-20b

